{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>{{ page_title }} | Members Information System</title>
    {% else %}
    <title>GEDE</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'employee_information/assets/default/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'employee_information/assets/bootstrap/css/bootstrap.min.css' %}">

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'employee_information/assets/material-admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'employee_information/assets/material-admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'employee_information/assets/material-admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'employee_information/assets/material-admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'employee_information/assets/material-admin/css/demo/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'employee_information/assets/material-admin/images/favicon.png' %}" />
    <script src="{% static 'employee_information/assets/default/js/jquery-3.6.0.min.js' %}">
    </script>
    <script src="{% static 'employee_information/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'employee_information/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'employee_information/assets/bootstrap/js/popper.min.js' %}"></script>
</head>

<body>
    <script src="{% static 'employee_information/assets/material-admin/js/preloader.js' %}"></script>
    <div class="body-wrapper">
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                <main class="auth-page">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner justify-content-center">
                            <div class="mdc-layout-grid__cell--span-2-desktop"></div>
                            <div class="mdc-card mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-1-tablet mb-5">
                                <h3 class="text-center">Members Information System</h3>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__inner">
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    <form id="login-user">
                                        {% csrf_token %}
                                        <div class="mdc-layout-grid">
                                            <div class="mdc-layout-grid__inner">
                                                <form action="" id="login" method="post">
                                                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                                        <div class="mdc-text-field w-100">
                                                            <input class="mdc-text-field__input" name="username" id="text-field-hero-input">
                                                            <div class="mdc-line-ripple"></div>
                                                            <label for="text-field-hero-input" class="mdc-floating-label">Username</label>
                                                        </div>
                                                    </div>
                                                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                                        <div class="mdc-text-field w-100">
                                                            <input class="mdc-text-field__input" name="password" type="password" id="text-field-hero-input">
                                                            <div class="mdc-line-ripple"></div>
                                                            <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
                                                        </div>
                                                    </div>
                                                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                                        <button class="mdc-button mdc-button--raised w-100">
                                                            Login
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script>
        window.start_loader = function() {
            $('body').removeClass('loaded')
        }
        window.end_loader = function() {
            $('body').addClass('loaded')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log()
                    alert("An error occured")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }
        $(function() {

        })
    </script>

    <script src="{% static 'employee_information/assets/material-admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'employee_information/assets/material-admin/js/material.js' %}"></script>
    <script src="{% static 'employee_information/assets/material-admin/js/misc.js' %}"></script>
    <script src="{% static 'employee_information/assets/material-admin/js/dashboard.js' %}"></script>
    <script>
        $(function() {
            $('#login-user').submit(function(e) {
                e.preventDefault();
                var _this = $(this)
                $('.err-msg').remove();
                var el = $('<div>')
                el.addClass("alert alert-danger err-msg")
                el.hide()
                if (_this[0].checkValidity() == false) {
                    _this[0].reportValidity();
                    return false;
                }
                start_loader();
                $.ajax({
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    url: "{% url 'login-user' %}",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    dataType: 'json',
                    error: err => {
                        console.log(err)
                        alert_toast("An error occured", 'error');
                        end_loader();
                    },
                    success: function(resp) {
                        if (typeof resp == 'object' && resp.status == 'success') {
                            el.removeClass("alert alert-danger err-msg")
                            location.href = "{% url 'home-page' %}"
                        } else if (resp.status == 'failed' && !!resp.msg) {
                            el.text(resp.msg)
                        } else {
                            el.text("An error occured", 'error');
                            end_loader();
                            console.err(resp)
                        }
                        _this.prepend(el)
                        el.show('slow')
                        $("html, body, .modal").scrollTop(0);
                        end_loader()
                    }
                })
            })
        })
    </script>
</body>

</html>